<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <connectionStrings>
    <add name="NorthWind" connectionString="Data Source=.;Initial Catalog=NorthWind;Integrated Security=True" providerName="System.Data.SqlClient" />
    <add name="NorthWindForExpress" connectionString="Data Source=.\SQLExpress;Initial Catalog=NorthWind;Integrated Security=True" providerName="System.Data.SqlClient" />
    <add name="ExcelExam" connectionString="Provider=Microsoft.ACE.OLEDB.12.0; Data Source=../../ExcelSpreadSheets/ExamScores.xlsx;Extended Properties='Excel 12.0 Xml;HDR=YES';" providerName="System.Data.OleDb" />
  </connectionStrings>
</configuration>